.container
{
    text-align: center;
}
#myCarousel{
    background-color: crimson;
}
#myCarousel img{
    height: 300px;
    margin-top: 40px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 21px;
    font-style: italic;
}
h1 {
  text-decoration: underline; 
    font-style: italic;
}
h4{
    font-style: italic;
}